.spinner {
  display: flex;
  justify-content: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  animation: lds-ring 4s linear infinite;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid var(--primary-color);
  border-radius: 50%;
  animation: lds-ring 2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--primary-color) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.8s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.7s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.6s;
}
.lds-ring div:nth-child(4) {
  animation-delay: -0.5s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
