.modal {
  width: 90%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .26);
  position: fixed;
  top: 20vh;
  left: 5%;
  border-radius: 4px;
  /* ugly overlay of rounded top borders with 4px */
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.modal__header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 1rem;
  background: var(--primary-color);
  color: var(--primary-text);
}

.modal__header>h1 {
  margin: 0;
  font-size: 1.25rem;
}

.modal__content {
  padding: 1rem;
}

.modal__actions {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.modal__actions>button:not(:last-child) {
  margin-right: 1rem;
}

@media(min-width: 768px) {
  .modal {
    width: 30rem;
    left: calc((100vw - 30rem) / 2);
  }
}