.main-navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.5rem;
  background: var(--primary-color);
  padding: 0 1rem;
  display: flex;
  align-items: center;
  color: var(--primary-text);
}

.main-navigation__logo>h1{
  margin: 0;
  font-size: 1.5rem;
}

.main-navigation__items {
  margin-left: 1.5rem;
}

.main-navigation__items>ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 1.5rem;
  display: flex;
}

.main-navigation__items>ul>li {
  margin: 0 .5rem;
}

.main-navigation__items>ul>li>a,
.main-navigation__items>ul>li>button {
  text-decoration: none;
  color: var(--secondary-color);
  text-transform: uppercase;
  padding: .2rem .5rem;
  border-radius: 2px;
  transition: .15s all ease;
  font: inherit;
  border: none;
  background: transparent;
  cursor: pointer;
  display: inline-block;
}

.main-navigation__items>ul>li>a:hover,
.main-navigation__items>ul>li>a:active,
.main-navigation__items>ul>li>a.active,
.main-navigation__items>ul>li>button:hover {
  color: var(--primary-text);
  background: var(--secondary-color);
}